@model ANWInventoryManagement.ViewModels.InventoryViewModel

<h1>Add Category</h1>
<hr />
<form asp-controller="Inventory" asp-action="AddCategory" method="post">

    <div>
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" />
        <span style="color:red" asp-validation-for="CategoryName"></span>
    </div>

    <input class="btn btn-secondary btn-sm" type="submit" value="Add Category" />
</form>
