@model ANWInventoryManagement.ViewModels.InventoryViewModel

<form asp-controller="Inventory" asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="UserSearch"></label>
        <input class="form-control" value="" asp-for="UserSearch" />
        <span style="color:red" asp-validation-for="UserSearch"></span>
    </div>

    <input class="btn btn-secondary btn-sm" type="submit" value="Search User" />

</form>


@foreach (var category in Model.Categories)
{
    <a asp-controller="Inventory" asp-action="Category" asp-route-id="@category.ID">@category.Name</a>
}
